<html lang="en-US">

<%- include('header'); -%>

  <body
    class="home page-template page-template-elementor_header_footer page page-id-868 wp-embed-responsive ehf-template-accesspress-parallax ehf-stylesheet-accesspress-parallax ap-parallax columns-3 elementor-default elementor-template-full-width elementor-kit-629 elementor-page elementor-page-868">
    <%- include('index', {}); %>
  </body>

  <%- include('fotter'); -%>

</html>