
<nav id="site-navigation" class="main-navigation">

  <button class="toggle menu-toggle">Menu</button>

  <ul id="menu-main" class="menu">
    <li id="menu-item-440"
      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-440">
      <a href="/" aria-current="page">Home</a>
    </li>
    <li id="menu-item-702"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-702">
      <a href="/news">News</a><span class="menu-icon"><i class="fa fa-angle-down"
          aria-hidden="true"></i></span>
      <ul class="sub-menu">
        <li id="menu-item-438"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-438"><a
            href="/upcoming-events">Upcoming Events</a></li>
        <li id="menu-item-437"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-437"><a
            href="/previous-events">Previous Events</a></li>
      </ul>
    </li>
    <li id="menu-item-433"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-433">
      <a href="/products">Products</a><span class="menu-icon"><i class="fa fa-angle-down"
          aria-hidden="true"></i></span>
      <ul class="sub-menu">
        <li id="menu-item-434"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-434"><a
            href="/pulses">Pulses</a></li>
        <li id="menu-item-1126"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1126">
          <a href="/saiba-tote-bags">SAIBA Tote Bags</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-435"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-435">
      <a href="/facilities">Facilities</a><span class="menu-icon"><i class="fa fa-angle-down"
          aria-hidden="true"></i></span>
      <ul class="sub-menu">
        <li id="menu-item-603"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-603"><a
            href="/certifications">Certifications</a></li>
      </ul>
    </li>
    <li id="menu-item-432"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-432">
      <a href="/about">About</a><span class="menu-icon"><i class="fa fa-angle-down"
          aria-hidden="true"></i></span>
      <ul class="sub-menu">
        <li id="menu-item-764"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-764"><a
            href="/contract-farming">Contract Farming</a></li>
        <li id="menu-item-436"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-436"><a
            href="/farmers">Farmers</a></li>
      </ul>
    </li>
    <li id="menu-item-439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439"><a
        href="/contact_us">Contact Us</a></li>
    <li id="menu-item-479"
      class="wp-night-mode menu-item menu-item-type-custom menu-item-object-custom menu-item-479"><a
        href="#">Toggle Night Mode</a></li>
  </ul>
</nav><!-- #site-navigation -->